= bootstrap_form_for(@login) do |f|
  = f.text_field :name
  .form-row
    .col
      = f.text_field :username, append: link_to(fa_icon("undo"), generate_username_path, id: "generateUsername", remote: true, class: "btn btn-success")
    .col
      = f.text_field :password, append: link_to(fa_icon("undo"), generate_password_path, id: "generatePassword", remote: true, class: "btn btn-success")
  = f.select :alias_of, @email_accounts, include_blank: true, help: "The email address this login is associated with"
  = f.text_field :url

  = f.submit "Save", class: "btn btn-primary mr-2"
  = link_to "Cancel", logins_path, class: "btn btn-link"
