h1
  | Logins
  = link_to fa_icon("plus"), new_login_path, class: "btn btn-primary float-right mt-2"

table.table
  thead
    tr
      th Name
      th Username
      th Url
      th Actions
  tbody
    - @logins.each do |login|
      tr
        td= login.name
        td= login.username
        td= login.url
        td
          = link_to fa_icon("eye"), login, class: "btn btn-sm btn-primary mr-2"
          = link_to fa_icon("pen"), edit_login_path(login), class: "btn btn-sm btn-success mr-2"
          = link_to fa_icon("trash-alt"), login, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
