h1
  | Login Details -&nbsp;
  small.text-muted= @login.name
  = link_to fa_icon("trash-alt"), @login, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger float-right mt-2"
  = link_to fa_icon("pen"), edit_login_path(@login), class: "btn btn-success float-right mt-2 mr-2"


dl.row
  dt.col-3 Username
  dd.col-9= @login.username

  dt.col-3 Password
  dd.col-9= @login.password

  dt.col-3 Alias of
  dd.col-9= @login.alias_of == "" ? "--" : @login.alias_of
    
  dt.col-3 Url
  dd.col-9= @login.url
